<nav>
    <div class="site-title">
        <a href="/"><h1>Weatherly</h1></a>
        <p>Check weather at any location in seconds.</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/check-weather/pincode">Pincode</a></li>
        <li><a href="/check-weather/city">City</a></li>
        <li><a href="/check-weather/pinpoint">Pin Point</a></li>
        <li><a href="/about">About</a></li>     
    </ul>
</nav>