<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <P>
                We provide weather details in a click for any location in the world.<br>
                You can search weather details by using numerous options like postal code, city, and pinpoint location.
            </P>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>